.header-all{
    background-color: #D2E1F3;
    
}
.brand-Name{
    display: flex;
    justify-content:center;
    font-size: 10px;
    line-height: 1;
}
nav{
    overflow: hidden;
}
nav > div{
  
  float:left;
  width: 33.3%;
  display: flex;
  justify-content:center;
  height: 45px;
  line-height: 45px;
}