.header-all {
  /* background-color: #d2e1f3; */
  background-color: #eaecee;
}
.brand-Name {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: #3178b9;
}
/* nav {
  overflow: hidden;
}
nav > div {
  float: left;
  width: 33.3%;
  display: flex;
  justify-content: center;
  height: 45px;
  line-height: 45px;
} */
