.header-all {
  /* background-color: #d2e1f3; */
  /* background-color: #eaedf2; */
  position: relative;
  padding-bottom: 0px;
  background-image: url("../../public/backgroundImg2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.brand-Name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  /* color: #0969da; */
  color: #4988ef;
  padding-top: 10px;
}

.alarm {
  display: flex;
  position: absolute;
  right: 8%;
  top: 25%;
  padding-top: 10px;
}
.back-btn {
  display: flex;
  position: absolute;
  left: 2%;
  top: 25%;
  padding-top: 10px;
}
